<div class="my-3">
  <h4>Add a todo</h4>
  <form #submit="ngForm" (ngSubmit)="onSubmit(submit)"  [formGroup]="addTodoForm">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <app-input [control]="addTodoForm.controls.title"></app-input>
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <app-input [control]="addTodoForm.controls.desc"></app-input>
    </div>
    <app-button [buttonTitle]="updateTodo?'Update' : 'Add Task'"  [controls]="addTodoForm.invalid"></app-button>
  </form>
</div>
<hr>